@import "https://use.fontawesome.com/releases/v5.0.10/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.container {
  width: 500px;   /* This sets the width */
  margin: 20 auto; /* This automatically sets left/right margins */
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */

  .container {
    width: 450px;   /* This sets the width */
    margin: 20 auto; /* This automatically sets left/right margins */
  }
  
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  .container {
    width: 400px;   /* This sets the width */
    margin: 20 auto; /* This automatically sets left/right margins */
    auto; /* This automatically sets left/right margins */
  }
  
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */

  .container {
    width: 300px;   /* This sets the width */
    margin: 20 auto; /* This automatically sets left/right margins */
  }  
}


#MeEu {
  height: 150px;
  width: 150px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(49, 53, 56);
  font-size: 16px;
  line-height:  32px;
  background-color: d9e4dd;
}

.card {
  background-color: fbf7f0;
  border: 2px;
  border-radius: 6px;
  box-shadow: 5px 10px 18px #888888;
  margin: 20 0;
  padding-top: 5px;
  padding-bottom: 10px;
}


h1 {
  font-family: Raleway, 'Courier New', Courier, monospace;
  color: 555555;
  font-size: 24px;
}

h2 {
  font-family: Raleway, 'Courier New', Courier, monospace;
  color: 555555;
  font-size: 16px;
}

h3 {
  font-family: Raleway, 'Courier New', Courier, monospace;
  color:cfd3ce;
  font-size: 8px;
}


.social{
  color: 8f384d;
  font-size: 18px;
}

a {
  color: 5c6e91;
  text-decoration: none;
}

a:hover{
  opacity: .5;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}


.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}